<h1>Welcome Pierre!</h1>
<h3>Add vendors and track their orders with this easy to use app!</h3>

<h3><a href='/vendors'>Click Here To View Your Current Vendors</a></h3>
<h3><a href='/vendors/new'>Click Here To Add New Vendor</a></h3>